// Reset básico
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-principal;
    background-color: $color-fondo;
    color: $color-primario;
}

h1, h2 {
    margin-bottom: 15px;
}

main {
    // Espacio para que el contenido no se pegue a los bordes
    padding: 20px; 
}

a {
    color: $color-secundario;
    text-decoration: none;

    // Anidación de SASS para el estado :hover
    &:hover { 
        text-decoration: underline;
    }
}
// --- Animación de Fade-in ---

// 1. Definimos la animación
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); // El contenido subirá un poco
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// 2. La aplicamos al contenedor principal del contenido
main .container {
    animation: fadeIn 0.7s ease-in-out forwards;
}